In [0]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV, KFold
from sklearn.metrics import accuracy_score, mean_squared_error
import sklearn
from datetime import datetime
import lightgbm as lgb

In [2]:
skater_feature_set = pd.read_csv('feature_matrix_w_position.csv')

goalie_feature_set = pd.read_csv('goalie_feature_matrix.csv').sort_values('season')
goalie_feature_set.tail(10)

       Unnamed: 0  player_id  ...  sh_save_percent_season  dfs_points
8288         8288    8475622  ...               75.000000        -4.9
8289         8289    8475622  ...               77.272727         2.8
8290         8290    8475622  ...               77.272727         2.8
8291         8291    8475622  ...               77.272727        11.9
8292         8292    8475622  ...               77.272727        17.9
8293         8293    8475622  ...               77.272727       -11.9
8294         8294    8475622  ...               77.272727        27.9
8295         8295    8475622  ...               77.272727        17.9
7881         7881    8475215  ...               95.238095         9.8
13002       13002    8480925  ...              100.000000        20.0

[10 rows x 71 columns]

In [3]:
## Perform lgb analysis on 3 sets of players (forwards, defensemen, goalies) ##

skater_feature_set = skater_feature_set.drop(columns = ['Unnamed: 0'], axis = 1)

skater_feature_set = skater_feature_set.replace('H', 1)
skater_feature_set = skater_feature_set.replace('A', 0)

skater_feature_set = skater_feature_set.dropna()
print(len(skater_feature_set))

155610

In [4]:
after_november_1_skaters = skater_feature_set[(skater_feature_set['season'] == 2019) & (skater_feature_set['game_id'] >= 196)]
november_1_skaters = after_november_1_skaters[(skater_feature_set['game_id'] <= 203)]


skater_feature_set.drop(after_november_1_skaters.index, inplace = True)
print(len(november_1_skaters))
november_1_skaters

254

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

        player_id  game_id  ...  primaryPositionname  primaryPositiontype
1732      8466138      203  ...               Center              Forward
2124      8466139      203  ...               Center              Forward
14045     8470047      199  ...               Center              Forward
14636     8470110      199  ...           Defenseman           Defenseman
15032     8470144      199  ...               Center              Forward
...           ...      ...  ...                  ...                  ...
213254    8480039      199  ...               Center              Forward
214255    8480145      203  ...           Defenseman           Defenseman
214700    8480172      197  ...           Defenseman           Defenseman
215885    8480830      199  ...           Right Wing              Forward
216036    8480839      198  ...           Defenseman           Defenseman

[254 rows x 78 columns]

In [0]:
goalie_feature_set = goalie_feature_set.drop(columns = ['Unnamed: 0'], axis = 1)

goalie_feature_set = goalie_feature_set.replace('H', 1)
goalie_feature_set = goalie_feature_set.replace('A', 0)

In [6]:
# For the goalie feature matrix, we don't want to drop the nulls, as we don't have that much data
# We will take the average for that player that season for any columns that are null

goalie_feature_set = goalie_feature_set.fillna(goalie_feature_set.groupby(['player_id','season']).transform('mean'))
print(len(goalie_feature_set))
goalie_feature_set.sort_values('season').tail(10)

13003

       player_id  game_id  ...  sh_save_percent_season  dfs_points
3836     8471469      770  ...               75.000000         4.2
4035     8471679       86  ...              100.000000         2.8
3823     8471469      460  ...               87.500000        12.3
3821     8471469      401  ...               75.000000        31.7
3559     8471418      873  ...               91.666667        19.3
3560     8471418      910  ...               92.857143        20.4
3561     8471418      944  ...               92.857143         2.8
3562     8471418      961  ...               93.750000        24.2
5912     8473575      527  ...              100.000000        -6.3
13002    8480925     1081  ...              100.000000        20.0

[10 rows x 70 columns]

In [10]:
n1_goalies = goalie_feature_set[(goalie_feature_set['season'] == 2019) & (goalie_feature_set['game_id'] >= 197) & (goalie_feature_set['game_id'] <= 203)].sort_values('game_id')
print(n1_goalies)

       player_id  game_id  ...  sh_save_percent_season  dfs_points
3379     8471306      197  ...              100.000000        22.1
10817    8476883      197  ...               80.000000         0.7
11576    8476999      198  ...              100.000000        -1.4
7099     8474651      198  ...              100.000000        22.8
5647     8473541      199  ...               91.666667         4.2
2256     8470657      199  ...              100.000000        -6.3
9564     8475852      199  ...               75.000000        15.8
12361    8478007      200  ...              100.000000         4.1
10218    8476412      200  ...               88.888889        14.4
3542     8471418      201  ...              100.000000        32.1
9215     8475831      201  ...               91.666667        11.9
6492     8474593      202  ...               87.500000        13.9
10481    8476434      202  ...               85.714286        32.8
11454    8476945      203  ...               93.333333        37.7
7430     8474889      203  ...               86.111111         0.7

[15 rows x 70 columns]

In [11]:
after_november_1_goalies = goalie_feature_set[(goalie_feature_set['season'] == 2019) & (goalie_feature_set['game_id'] >= 196)]
november_1_goalies = after_november_1_goalies[(after_november_1_goalies['game_id'] <= 203)]

goalie_feature_set.drop(after_november_1_goalies.index, inplace = True)
print(len(november_1_goalies))
after_november_1_goalies.head(10)

17

       player_id  game_id  ...  sh_save_percent_season  dfs_points
11469    8476945      491  ...               97.619048         6.3
13000    8480925     1065  ...              100.000000        10.9
11457    8476945      264  ...               95.238095        17.2
11458    8476945      276  ...               95.833333         0.7
12999    8480925     1047  ...              100.000000        -4.2
11460    8476945      325  ...               96.296296        32.1
11459    8476945      300  ...               95.833333        17.2
11456    8476945      250  ...               94.444444        24.9
11467    8476945      463  ...               97.435897        20.7
11466    8476945      445  ...               97.435897        19.7

[10 rows x 70 columns]

In [12]:
november_1_goalies.head(10)
# november_1_skaters.head(10)

       player_id  game_id  ...  sh_save_percent_season  dfs_points
11454    8476945      203  ...               93.333333        37.7
12361    8478007      200  ...              100.000000         4.1
12437    8478406      196  ...               66.666667        11.1
11576    8476999      198  ...              100.000000        -1.4
12704    8479394      196  ...              100.000000        11.6
6492     8474593      202  ...               87.500000        13.9
5647     8473541      199  ...               91.666667         4.2
3542     8471418      201  ...              100.000000        32.1
3379     8471306      197  ...              100.000000        22.1
2256     8470657      199  ...              100.000000        -6.3

[10 rows x 70 columns]

In [0]:
## splitting the skater feature set into forwards + defensemen ##
skater_feature_set.iloc[0]

defense_feature_set = skater_feature_set.loc[skater_feature_set['primaryPositiontype'] == 'Defenseman']

forward_feature_set = skater_feature_set.loc[skater_feature_set['primaryPositiontype'] == 'Forward']

In [0]:
X_forwards = forward_feature_set.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season', 'primaryPositioncode', 'primaryPositionname', 'primaryPositiontype'], axis = 1)
y_forwards = forward_feature_set['dfs_points'].tolist()

X_defense = defense_feature_set.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season', 'primaryPositioncode', 'primaryPositionname', 'primaryPositiontype'], axis = 1)
y_defense = defense_feature_set['dfs_points'].tolist()

X_goalies = goalie_feature_set.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season'])
y_goalies = goalie_feature_set['dfs_points'].tolist()

In [0]:
X_train_forwards, X_test_forwards, y_train_forwards, y_test_forwards = train_test_split(X_forwards, y_forwards, test_size=0.2, random_state=42)

X_train_defense, X_test_defense, y_train_defense, y_test_defense = train_test_split(X_defense, y_defense, test_size=0.2, random_state=42)

X_train_goalies, X_test_goalies, y_train_goalies, y_test_goalies = train_test_split(X_goalies, y_goalies, test_size=0.2, random_state=42)

In [16]:
## Do forwards first ## 

train_data_forwards = lgb.Dataset(X_train_forwards, y_train_forwards)

param = {'num_leaves':150,'objective': 'regression','max_depth':7,'learning_rate':.05,'max_bin':200}

num_round = 50

lgbm_forwards = lgb.train(param, train_data_forwards, num_round)

pred_forwards = lgbm_forwards.predict(X_test_forwards)

mean_squared_error(y_test_forwards, pred_forwards)

44.939006861966575

In [17]:
train_data_goalies = lgb.Dataset(X_train_goalies, y_train_goalies)

param = {'num_leaves':150,'objective': 'regression','max_depth':7,'learning_rate':.05,'max_bin':200}

num_round = 50

lgbm_goalies = lgb.train(param, train_data_goalies, num_round)

pred_goalies = lgbm_goalies.predict(X_test_goalies)

mean_squared_error(y_test_goalies, pred_goalies)

111.1453381741206

In [18]:
train_data_defense = lgb.Dataset(X_train_defense, y_train_defense)

param = {'num_leaves':150,'objective': 'regression','max_depth':7,'learning_rate':.05,'max_bin':200}

num_round = 50

lgbm_defense = lgb.train(param, train_data_defense, num_round)

pred_defense = lgbm_defense.predict(X_test_defense)

mean_squared_error(y_test_defense, pred_defense)

29.973142750805287

In [0]:
# Take all the rows from 11/1 and make split them up into goalies, Defense, forwards

november_1_forwards = november_1_skaters.loc[november_1_skaters['primaryPositiontype'] == 'Forward']

X_nov_forwards = november_1_forwards.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season', 'primaryPositioncode', 'primaryPositionname', 'primaryPositiontype'], axis = 1)
y_nov_forwards = november_1_forwards['dfs_points'].tolist()

november_1_defense = november_1_skaters.loc[november_1_skaters['primaryPositiontype'] == 'Defenseman']

X_nov_defense = november_1_defense.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season', 'primaryPositioncode', 'primaryPositionname', 'primaryPositiontype'], axis = 1)
y_nov_defense = november_1_defense['dfs_points'].tolist()

X_nov_goalies = november_1_goalies.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season'], axis = 1)
y_nov_goalies = november_1_goalies['dfs_points'].tolist()

In [20]:
X_nov_goalies.head(10)

       homeOrAway  saves_1  ...  sh_save_percent_20  sh_save_percent_season
11454           0     14.0  ...           87.878788               93.333333
12361           0     19.0  ...          100.000000              100.000000
12437           1     12.0  ...           88.888889               66.666667
11576           0     41.0  ...           90.909091              100.000000
12704           0      8.0  ...          100.000000              100.000000
6492            0     21.0  ...           87.500000               87.500000
5647            0     15.0  ...           96.666667               91.666667
3542            0     11.0  ...           85.714286              100.000000
3379            1     30.0  ...          100.000000              100.000000
2256            0     31.0  ...           78.571429              100.000000

[10 rows x 66 columns]

In [21]:
pred_november_forwards = lgbm_forwards.predict(X_nov_forwards)

mean_squared_error(y_nov_forwards, pred_november_forwards)

48.687075332273125

In [22]:
pred_november_defense = lgbm_defense.predict(X_nov_defense)

mean_squared_error(y_nov_defense, pred_november_defense)

26.535400212036304

In [23]:
pred_november_goalies = lgbm_goalies.predict(X_nov_goalies)

mean_squared_error(y_nov_goalies, pred_november_goalies)

145.96886994834463

In [24]:
len(november_1_skaters)

254

In [25]:
november_1_skaters.head(10)

       player_id  game_id  ...  primaryPositionname  primaryPositiontype
1732     8466138      203  ...               Center              Forward
2124     8466139      203  ...               Center              Forward
14045    8470047      199  ...               Center              Forward
14636    8470110      199  ...           Defenseman           Defenseman
15032    8470144      199  ...               Center              Forward
15361    8470151      200  ...           Defenseman           Defenseman
16154    8470187      197  ...           Defenseman           Defenseman
16665    8470257      200  ...            Left Wing              Forward
21730    8470612      202  ...               Center              Forward
22122    8470613      203  ...           Defenseman           Defenseman

[10 rows x 78 columns]

In [0]:
drop_columns = []

keep_columns = ['player_id', 'game_id', 'season', 'primaryPositionname']

for column in november_1_skaters.columns.values:
  if column not in keep_columns:
    if "_10" not in column:
      drop_columns.append(column)

In [27]:
november_1_skaters.drop(drop_columns, inplace = True, axis = 1)

november_1_skaters.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       player_id  game_id  ...  sh_assists_10  primaryPositionname
1732     8466138      203  ...            0.0               Center
2124     8466139      203  ...            0.0               Center
14045    8470047      199  ...            0.0               Center
14636    8470110      199  ...            0.0           Defenseman
15032    8470144      199  ...            0.0               Center
15361    8470151      200  ...            0.0           Defenseman
16154    8470187      197  ...            0.0           Defenseman
16665    8470257      200  ...            0.0            Left Wing
21730    8470612      202  ...            0.0               Center
22122    8470613      203  ...            0.0           Defenseman

[10 rows x 18 columns]

In [0]:
players = pd.read_csv('players.csv')

In [0]:
part_1 = november_1_skaters.merge(right = players[['id', 'fullName']], left_on = 'player_id', right_on = 'id', how = 'left')

In [30]:
part_1.head(10)

   player_id  game_id  season  ...  primaryPositionname       id           fullName
0    8466138      203    2019  ...               Center  8466138       Joe Thornton
1    8466139      203    2019  ...               Center  8466139    Patrick Marleau
2    8470047      199    2019  ...               Center  8470047  Valtteri Filppula
3    8470110      199    2019  ...           Defenseman  8470110       Trevor Daley
4    8470144      199    2019  ...               Center  8470144      Frans Nielsen
5    8470151      200    2019  ...           Defenseman  8470151    Jay Bouwmeester
6    8470187      197    2019  ...           Defenseman  8470187     Johnny Boychuk
7    8470257      200    2019  ...            Left Wing  8470257    Alexander Steen
8    8470612      202    2019  ...               Center  8470612       Ryan Getzlaf
9    8470613      203    2019  ...           Defenseman  8470613        Brent Burns

[10 rows x 20 columns]

In [0]:
cols = list(part_1.columns.values)
cols.insert(0, cols[-1])

part_1 = part_1[cols[0:-1]]

part_1.head(10)
part_1.drop('id', axis = 1, inplace = True)

In [0]:
part_1 = part_1.sort_values('game_id').reset_index()
part_1.to_csv('10_game_averages.csv')

In [65]:
print(len(part_1))

254

In [67]:
drop_columns = []

keep_columns = ['player_id', 'game_id', 'season']

for column in november_1_goalies.columns.values:
  if column not in keep_columns:
    if "_10" not in column:
      drop_columns.append(column)


november_1_goalies.drop(drop_columns, inplace = True, axis = 1)

part_2 = november_1_goalies.merge(right = players[['id', 'fullName']], left_on = 'player_id', right_on = 'id', how = 'left')

cols = list(part_2.columns.values)
cols.insert(0, cols[-1])

part_2 = part_2[cols[0:-1]]

part_2.head(10)
part_2.drop('id', axis = 1, inplace = True)

part_2 = part_2.sort_values('game_id').reset_index()
part_2.to_csv('10_game_averages_goalies.csv')

print(len(part_2))

17

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
part_2 = part_2.drop(['level_0', 'index'], axis = 1).head()
part_2.to_csv('10_game_averages_goalies.csv')

In [0]:

def f(row):
    if row['timeOnIce'] > 3600 and row['decision'] == 'L':
        val = 1
    else:
        val = 0
    return val

def custom_to_datetime(date):
    # If the time is 24, set it to 0 and increment day by 1
    minutes = date[0:2]
    if ':' in minutes:
        return pd.to_datetime(date, format = '%M:%S')
    else:
        minutes = int(minutes)
        if minutes >= 60:
            newDate = str(minutes - 60) + date[2:]
            return pd.to_datetime(newDate, format = '%M:%S') + pd.Timedelta(hours=1)
        else:
            return pd.to_datetime(date, format = '%M:%S')


p_stats = pd.read_csv('player_stats_by_game.csv').sort_values(by = ['player_id', 'game_id'])

p_stats = p_stats[(p_stats['season'] == 2019) & (p_stats['game_id'] < 204)].reset_index()

goalie_stats = pd.read_csv('goalie_stats_by_game.csv').sort_values(by=['player_id', 'season', 'game_id']).reset_index(drop=True) 

goalie_stats['timeOnIce'] = goalie_stats['timeOnIce'].apply(custom_to_datetime) 
goalie_stats['timeOnIce'] = goalie_stats['timeOnIce'].dt.hour * 3600 + goalie_stats['timeOnIce'].dt.minute * 60 + goalie_stats['timeOnIce'].dt.second
goalie_stats['ot_loss'] = goalie_stats.apply(f, axis = 1)
goalie_stats.head(10)
g_stats = goalie_stats[(goalie_stats['season'] == 2019) & (goalie_stats['game_id'] < 204)].reset_index()

In [103]:
p_stats.head()
print(len(g_stats))

431

In [104]:
part2 = part_1[['player_id', 'fullName']]
part2_goalie = part_2[['player_id', 'fullName']]

print(len(part2_goalie))
agg_cols = {
            'assists' : 'skaterStatsassists', 
            'goals' : 'skaterStatsgoals', 
            'shots' : 'skaterStatsshots', 
            'hits' : 'skaterStatshits', 
            'pp_goals' : 'skaterStatspowerPlayGoals',
            'takeaways' : 'skaterStatstakeaways', 
            'giveaways' : 'skaterStatsgiveaways', 
            'es_toi' : 'skaterStatsevenTimeOnIce', 
            'pp_toi' : 'skaterStatspowerPlayTimeOnIce',
            'blocks' : 'skaterStatsblocked', 
            'pp_assists' : 'skaterStatspowerPlayAssists', 
            'plus_minus' : 'skaterStatsplusMinus', 
            'sh_goals' : 'skaterStatsshortHandedGoals',
            'sh_assists' : 'skaterStatsshortHandedAssists'
           }


agg_cols_goalie = {
    'saves' : 'saves',
    'goals_against' : 'goals_against', 
    'save_percent' : 'savePercentage', 
    'shots_against' : 'shots', 
    'wins' : 'win', 
    'shutouts' : 'shutout', 
    'ot_loss' : 'ot_loss',
    'es_shots' : 'evenShotsAgainst', 
    'es_save_percent' : 'evenStrengthSavePercentage', 
    'pp_shots' : 'powerPlayShotsAgainst', 
    'pp_save_percent' : 'powerPlaySavePercentage', 
    'sh_shots' : 'shortHandedShotsAgainst', 
    'sh_save_percent' : 'shortHandedSavePercentage',
}

17

In [0]:

rows = []

for i in range(0, len(part2)):

  dic = {}

  temp_id = part2['player_id'][i]

  dic['player_id'] = temp_id
  
  temp_game = p_stats[(p_stats['player_id'] == temp_id) & (p_stats['game_id'] >= 196) & (p_stats['game_id'] <= 203)].index


  for j in range(1, 6):
    index = temp_game - j

    dfs_points = (8.5 * p_stats[agg_cols['goals']].iloc[index]) + (5 * p_stats[agg_cols['assists']].iloc[index]) + (1.5 * p_stats[agg_cols['shots']].iloc[index]) + (1.3 * p_stats[agg_cols['blocks']].iloc[index]) + (2 * (p_stats[agg_cols['sh_goals']].iloc[index] + p_stats[agg_cols['sh_assists']].iloc[index]))
        
    bonus_categories = ['goals', 'shots', 'blocks', 'points']
    
    for bonus in bonus_categories:
        if bonus == 'shots':
            if p_stats[agg_cols[bonus]].iloc[i] >= 5:
                dfs_points += 3
        elif bonus == 'points':
            if (p_stats[agg_cols['goals']].iloc[i] + p_stats[agg_cols['assists']].iloc[i]) >= 3:
                dfs_points += 3
        else:
            if p_stats[agg_cols[bonus]].iloc[i] >= 3:
                dfs_points += 3

    dic[str(j) + '_game'] = float(dfs_points)

  rows.append(dic)

In [106]:
part2 = pd.DataFrame(rows)

part2.head()

print(len(part2_goalie))

17

In [0]:
rows_goalie = []

for i in range(0, len(part2_goalie)):

  dic = {}

  temp_id = part2_goalie['player_id'][i]

  dic['player_id'] = temp_id
  
  temp_game = g_stats[(g_stats['player_id'] == temp_id) & (g_stats['game_id'] >= 196) & (g_stats['game_id'] <= 203)].index


  for j in range(1, 6):
    index = temp_game - j

    dfs_points = float((6 * g_stats[agg_cols_goalie['wins']].iloc[index]) + (0.7 * g_stats[agg_cols_goalie['saves']].iloc[index]) + (-3.5 * g_stats[agg_cols_goalie['goals_against']].iloc[index]) + (4 * g_stats[agg_cols_goalie['shutouts']].iloc[index]) + (2 * (g_stats[agg_cols_goalie['ot_loss']].iloc[index])))

    if (int(goalie_stats[agg_cols_goalie['saves']].iloc[index])) >= 35:
         dfs_points += 3

    dic[str(j) + '_game'] = float(dfs_points)

  rows_goalie.append(dic)

In [108]:
goalie_df = pd.DataFrame(rows_goalie)
goalie_df

    player_id  1_game  2_game  3_game  4_game  5_game
0     8478406    -5.6    27.5    19.3     4.8    -4.2
1     8479394     2.1   -11.2    -2.1    -7.0    13.4
2     8471306    23.0    22.8    13.7    10.5     4.4
3     8476883    16.1    24.9    -8.4    22.3    28.6
4     8476999    38.7    18.8     7.2    30.7    19.0
5     8474651    18.1    16.2    17.9    24.2    17.2
6     8473541    -5.0     9.1    17.5     1.4    22.1
7     8475852    22.1    32.4     6.9    -7.7    31.7
8     8470657    24.2     9.1    11.2     4.2    11.2
9     8478007    13.3    15.5    -1.4    19.3    15.6
10    8476412    27.0    12.3    10.7    22.1    14.4
11    8475831    14.8    23.0     4.9    20.0    11.8
12    8471418    10.2    18.8     9.8     4.2     9.3
13    8476434    20.2    16.3    11.9    -3.5    14.9
14    8474593    10.2     4.3    20.7    28.6    20.0
15    8474889     7.7     4.4     5.6     5.5    10.7
16    8476945    -7.7    25.8    16.1    29.6     9.1

In [109]:
len(goalie_df)

17

In [110]:
part2.head()

   player_id  1_game  2_game  3_game  4_game  5_game
0    8477355    14.3     5.8    14.3     9.5     5.8
1    8478067    11.5     4.5     3.0    11.3    19.5
2    8474037     4.5    11.0    25.0    17.8     5.8
3    8477948     6.0     8.0     6.0     9.3    13.8
4    8472382    18.4     7.1     9.5     9.7     7.1

In [0]:
part2 = (pd.concat([part2, goalie_df]))
part2 = part2.merge(right = players[['id', 'fullName']], left_on = 'player_id', right_on = 'id', how = 'left')

In [112]:
part2.head()

   player_id  1_game  2_game  ...  5_game       id            fullName
0    8477355    14.3     5.8  ...     5.8  8477355        Will Butcher
1    8478067    11.5     4.5  ...    19.5  8478067      Oskar Lindblom
2    8474037     4.5    11.0  ...     5.8  8474037  James van Riemsdyk
3    8477948     6.0     8.0  ...    13.8  8477948      Travis Sanheim
4    8472382    18.4     7.1  ...     7.1  8472382         Andy Greene

[5 rows x 8 columns]

In [113]:
cols = list(part2.columns.values)
cols.insert(0, cols[-1])

part2 = part2[cols[0:-1]]

part2.head(10)

              fullName  player_id  1_game  ...  4_game  5_game       id
0         Will Butcher    8477355    14.3  ...     9.5     5.8  8477355
1       Oskar Lindblom    8478067    11.5  ...    11.3    19.5  8478067
2   James van Riemsdyk    8474037     4.5  ...    17.8     5.8  8474037
3       Travis Sanheim    8477948     6.0  ...     9.3    13.8  8477948
4          Andy Greene    8472382    18.4  ...     9.7     7.1  8472382
5       Wayne Simmonds    8474190    22.5  ...     7.3     5.6  8474190
6  Shayne Gostisbehere    8476906     9.1  ...     4.3     6.5  8476906
7       Sean Couturier    8476461    12.3  ...    10.3     8.0  8476461
8        Jakub Voracek    8474161     6.0  ...     3.0    11.0  8474161
9        Claude Giroux    8473512    12.0  ...    14.3    10.3  8473512

[10 rows x 8 columns]

In [114]:
part2 = part2.sort_values('player_id').reset_index()
part2.head()

   index           fullName  player_id  1_game  ...  3_game  4_game  5_game       id
0    253       Joe Thornton    8466138     3.0  ...     5.8     9.3     4.5  8466138
1    228    Patrick Marleau    8466139     0.0  ...     1.3     9.3    10.0  8466139
2    116  Valtteri Filppula    8470047     6.5  ...     6.0     2.8     3.0  8470047
3    126       Trevor Daley    8470110     5.8  ...     8.4     4.3     5.8  8470110
4    117      Frans Nielsen    8470144     4.1  ...     1.5     4.5     2.8  8470144

[5 rows x 9 columns]

In [0]:
part2.drop(['index', 'id'], inplace = True, axis = 1)

In [117]:
part2.head(10)
print(len(part2))

271

In [0]:
part2.to_csv('last_5_games.csv')

In [120]:
prices = pd.read_csv('player_prices.csv')
prices.head()

  Position                     Name + ID  ... TeamAbbrev  AvgPointsPerGame
0        G  Jordan Binnington (13678944)  ...        STL             15.68
1        G         Jake Allen (13678960)  ...        STL              4.75
2        G   Philipp Grubauer (13678945)  ...        COL             16.70
3       LW      Alex Ovechkin (13678140)  ...        WAS             19.41
4        G      Braden Holtby (13678946)  ...        WAS             10.99

[5 rows x 9 columns]

In [131]:
len(prices)

583

In [132]:
len(X_nov_forwards)
len(pred_november_forwards)

X_nov_forwards['pred'] = pred_november_forwards

X_nov_forwards.head()

       homeOrAway  goals_1  goals_5  ...  sh_assists_20  sh_assists_season      pred
1732            1      0.0      0.0  ...            0.0                0.0  5.681807
2124            1      0.0      0.0  ...            0.0                0.0  6.250026
14045           0      0.0      0.2  ...            0.0                0.0  6.663596
15032           0      0.0      0.0  ...            0.0                0.0  4.961054
16665           1      0.0      0.0  ...            0.0                0.0  5.644703

[5 rows x 72 columns]

In [133]:
len(X_nov_defense)
len(pred_november_defense)

86

In [134]:
prices.head()

  Position                     Name + ID  ... TeamAbbrev  AvgPointsPerGame
0        G  Jordan Binnington (13678944)  ...        STL             15.68
1        G         Jake Allen (13678960)  ...        STL              4.75
2        G   Philipp Grubauer (13678945)  ...        COL             16.70
3       LW      Alex Ovechkin (13678140)  ...        WAS             19.41
4        G      Braden Holtby (13678946)  ...        WAS             10.99

[5 rows x 9 columns]

In [135]:
skater_feature_set = pd.read_csv('feature_matrix_w_position.csv')

## Perform lgb analysis on 3 sets of players (forwards, defensemen, goalies) ##

skater_feature_set = skater_feature_set.drop(columns = ['Unnamed: 0'], axis = 1)

skater_feature_set = skater_feature_set.replace('H', 1)
skater_feature_set = skater_feature_set.replace('A', 0)


after_november_1_skaters = skater_feature_set[(skater_feature_set['season'] == 2019) & (skater_feature_set['game_id'] >= 196)]
november_1_skaters = after_november_1_skaters[(skater_feature_set['game_id'] <= 203)]


skater_feature_set.drop(after_november_1_skaters.index, inplace = True)
print(len(november_1_skaters))
november_1_skaters

288

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

        player_id  game_id  ...  primaryPositionname  primaryPositiontype
1732      8466138      203  ...               Center              Forward
2124      8466139      203  ...               Center              Forward
14045     8470047      199  ...               Center              Forward
14636     8470110      199  ...           Defenseman           Defenseman
15032     8470144      199  ...               Center              Forward
...           ...      ...  ...                  ...                  ...
216036    8480839      198  ...           Defenseman           Defenseman
216877    8481019      203  ...                  NaN                  NaN
216953    8481433      199  ...                  NaN                  NaN
217219    8481559      196  ...               Center              Forward
217411    8481650      200  ...            Left Wing              Forward

[288 rows x 78 columns]

In [0]:
november_1_forwards = november_1_skaters.loc[november_1_skaters['primaryPositiontype'] == 'Forward']
forward_player_id = november_1_forwards['player_id']
X_nov_forwards = november_1_forwards.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season', 'primaryPositioncode', 'primaryPositionname', 'primaryPositiontype'], axis = 1)
y_nov_forwards = november_1_forwards['dfs_points'].tolist()

november_1_defense = november_1_skaters.loc[november_1_skaters['primaryPositiontype'] == 'Defenseman']
forward_defense_id = november_1_defense['player_id']
X_nov_defense = november_1_defense.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season', 'primaryPositioncode', 'primaryPositionname', 'primaryPositiontype'], axis = 1)
y_nov_defense = november_1_defense['dfs_points'].tolist()

In [137]:
pred_november_forwards = lgbm_forwards.predict(X_nov_forwards)

mean_squared_error(y_nov_forwards, pred_november_forwards)

47.782155504319235

In [138]:
pred_november_defense = lgbm_defense.predict(X_nov_defense)

mean_squared_error(y_nov_defense, pred_november_defense)

25.66389712557911

In [139]:
goalies = pd.read_csv('goalie_feature_matrix.csv')

goalies = goalies.drop(columns = ['Unnamed: 0'], axis = 1)

goalies = goalies.replace('H', 1)
goalies = goalies.replace('A', 0)

goalies = goalies.fillna(goalies.groupby(['player_id','season']).transform('mean'))
print(len(goalies))
goalies.sort_values('season').tail(10)

after_november_1_goalies = goalies[(goalies['season'] == 2019) & (goalies['game_id'] >= 196)]
november_1_goalies = after_november_1_goalies[(after_november_1_goalies['game_id'] <= 203)]

goalies.drop(after_november_1_goalies.index, inplace = True)
print(len(november_1_goalies))
after_november_1_goalies.head(10)

13003
17

     player_id  game_id  ...  sh_save_percent_season  dfs_points
391    8467950      206  ...               91.666667         1.4
392    8467950      225  ...               93.750000         5.6
393    8467950      271  ...               75.000000         0.0
394    8467950      281  ...               75.000000        13.7
395    8467950      304  ...               75.000000         9.1
396    8467950      331  ...               79.166667        30.0
397    8467950      369  ...               82.142857         9.1
398    8467950      436  ...               82.142857        15.8
399    8467950      452  ...               82.142857        -4.2
400    8467950      575  ...               82.142857        35.6

[10 rows x 70 columns]

In [140]:
goalie_id = november_1_goalies['player_id']
X_nov_goalie = november_1_goalies.drop(columns = ['dfs_points', 'player_id', 'game_id', 'season'], axis = 1)
y_nov_goalie = november_1_goalies['dfs_points'].tolist()

X_nov_goalie.head()

      homeOrAway  saves_1  ...  sh_save_percent_20  sh_save_percent_season
2256           0     31.0  ...           78.571429              100.000000
3379           1     30.0  ...          100.000000              100.000000
3542           0     11.0  ...           85.714286              100.000000
5647           0     15.0  ...           96.666667               91.666667
6492           0     21.0  ...           87.500000               87.500000

[5 rows x 66 columns]

In [141]:
pred_november_goalies = lgbm_goalies.predict(X_nov_goalie)

mean_squared_error(y_nov_goalie, pred_november_goalies)

145.96886994834463

In [142]:
print(len(pred_november_defense))

91

In [143]:
print(len(X_nov_defense))

91

In [144]:
print((pred_november_forwards))

[ 5.68180668  6.25002562  6.6635958   4.96105396  5.64470311  9.74426013
  6.02654481  5.90918202  8.21085051 12.89038472 11.9197925  11.48031532
  5.56748916  8.30214493  3.7678865   4.70374616  5.38302863  6.11868967
  6.88855819  6.91325356  5.02256631  3.39765934  5.41756582  9.5918684
  7.26912818  7.01106239 10.40762558  6.43600676  6.69792447  8.28846686
 10.34075283  7.75775579  4.47571357  6.22500963  9.21827605  9.24913282
  5.60774223  7.3267101   9.23031292  4.62731635 10.97935919  7.21878236
  9.60834929  8.4607856   5.27550495  5.41968032 11.12589642  7.13074585
  6.70744455  6.32382381 10.17565986  9.74150795  8.32705988 12.25804658
  9.31731811 10.78951537  5.77456668  3.75996879  4.54593969  7.88273146
  8.90529197  4.86968108  9.34667902 11.13633883  8.27999873  8.76527215
 11.12152037 13.24380995 11.22716501  7.68324713  6.80677203  4.33282223
  6.68274664  8.11713713  4.21171534  6.53923641  4.91910774  6.84212461
  5.83300144  5.94246206  9.44227574 10.10128192  9.03499288 10.3901153
  9.74834336  4.16043552  6.17567387  9.4450669   4.23643103  7.35341024
  9.39121498  8.4442958   5.27941482  3.93408984  4.55283552  4.40836596
  3.01263223  4.91281436  7.90240234  4.66237753  7.19576719  4.86067333
  5.70668976  4.487034    5.39040013  8.23390743  5.9506526   6.78434299
  7.03151686  5.07301313  4.45753432  4.37719922  6.10254756  9.46489959
  5.01078281 15.82108287 10.02191015  4.44863573  6.88995223 13.27252372
  3.68382348  5.77448968  4.65054157  4.01715433  5.12033486 10.40651814
  4.60894678  5.14166199 10.03119374  6.9174944   4.65371217  7.58038996
 12.0253535   4.70023596  4.54283293  4.52829086  5.09407828  8.98715274
  4.54669997  7.15910109  8.83044643  5.58517142  8.34339093 13.07125841
  6.24772464 13.47207897  8.5569889  11.58035454  8.00689152 11.9618956
 11.55377288  7.08821937  7.55585691  7.11186983  5.88634794  6.08677512
  4.88508237  5.01512694  4.48509418  5.88283816  5.61807033  6.70487997
  4.54167951  8.81337736  6.30086508  7.0911917  12.18054198  5.40194558
  5.32462889  4.7394824   4.9763987  10.16282918  7.51072266  4.6396963 ]

In [145]:
print((forward_player_id))

1732      8466138
2124      8466139
14045     8470047
15032     8470144
16665     8470257
           ...
214777    8480205
215330    8480797
215885    8480830
217219    8481559
217411    8481650
Name: player_id, Length: 174, dtype: int64

In [0]:
dic = {"player_id" : forward_player_id, "prediction" : pred_november_forwards}

new_df = pd.DataFrame(dic)

dic1 = {"player_id" : forward_defense_id, "prediction" : pred_november_defense}

new_df_df = pd.DataFrame(dic1)

dic2 = {"player_id" : goalie_id, "prediction" : pred_november_goalies}

goalie_df_final = pd.DataFrame(dic2)

In [147]:
new_df.head()
len(new_df)

174

In [149]:
new_df_df.head()
print(len(goalie_df_final))
len(new_df_df)

17

91

In [0]:
final_df = pd.concat([new_df, new_df_df, goalie_df_final], ignore_index = True).reset_index()

final_df.drop('index', inplace = True, axis = 1)

In [151]:
len(final_df)

282

In [152]:
final_df.head()

   player_id  prediction
0    8466138    5.681807
1    8466139    6.250026
2    8470047    6.663596
3    8470144    4.961054
4    8470257    5.644703

In [0]:
final_df = final_df.merge(right = players[['id', 'fullName']], left_on = 'player_id', right_on = 'id', how = 'left')

In [0]:
final_df = final_df.sort_values('prediction').reset_index().drop(['index', 'id'], axis = 1)

In [155]:
prices.head()

  Position                     Name + ID  ... TeamAbbrev  AvgPointsPerGame
0        G  Jordan Binnington (13678944)  ...        STL             15.68
1        G         Jake Allen (13678960)  ...        STL              4.75
2        G   Philipp Grubauer (13678945)  ...        COL             16.70
3       LW      Alex Ovechkin (13678140)  ...        WAS             19.41
4        G      Braden Holtby (13678946)  ...        WAS             10.99

[5 rows x 9 columns]

In [0]:
prices = prices.merge(right = final_df[['fullName', 'prediction']], left_on = 'Name', right_on = 'fullName', how = 'inner')

In [157]:
prices.head()

  Position                     Name + ID  ...           fullName  prediction
0        G  Jordan Binnington (13678944)  ...  Jordan Binnington   14.815437
1        G   Philipp Grubauer (13678945)  ...   Philipp Grubauer   13.329057
2       LW      Alex Ovechkin (13678140)  ...      Alex Ovechkin   12.890385
3        G      Braden Holtby (13678946)  ...      Braden Holtby   13.895487
4        G        Petr Mrazek (13678947)  ...        Petr Mrazek   12.597150

[5 rows x 11 columns]

In [0]:
prices.drop('fullName', axis = 1, inplace = True)

In [159]:
prices.head()

  Position                     Name + ID  ... AvgPointsPerGame  prediction
0        G  Jordan Binnington (13678944)  ...            15.68   14.815437
1        G   Philipp Grubauer (13678945)  ...            16.70   13.329057
2       LW      Alex Ovechkin (13678140)  ...            19.41   12.890385
3        G      Braden Holtby (13678946)  ...            10.99   13.895487
4        G        Petr Mrazek (13678947)  ...            14.68   12.597150

[5 rows x 10 columns]

In [0]:
prices['prediction'] = prices['prediction'].round(2)

In [161]:
prices.head()

  Position                     Name + ID  ... AvgPointsPerGame  prediction
0        G  Jordan Binnington (13678944)  ...            15.68       14.82
1        G   Philipp Grubauer (13678945)  ...            16.70       13.33
2       LW      Alex Ovechkin (13678140)  ...            19.41       12.89
3        G      Braden Holtby (13678946)  ...            10.99       13.90
4        G        Petr Mrazek (13678947)  ...            14.68       12.60

[5 rows x 10 columns]

In [0]:
prices = prices.rename(columns = {"prediction" : "lgbm_projection"})

In [163]:
prices.head()

  Position                     Name + ID  ... AvgPointsPerGame  lgbm_projection
0        G  Jordan Binnington (13678944)  ...            15.68            14.82
1        G   Philipp Grubauer (13678945)  ...            16.70            13.33
2       LW      Alex Ovechkin (13678140)  ...            19.41            12.89
3        G      Braden Holtby (13678946)  ...            10.99            13.90
4        G        Petr Mrazek (13678947)  ...            14.68            12.60

[5 rows x 10 columns]

In [164]:
print(len(prices))

280

In [165]:
print(prices)

    Position                     Name + ID  ... AvgPointsPerGame  lgbm_projection
0          G  Jordan Binnington (13678944)  ...            15.68            14.82
1          G   Philipp Grubauer (13678945)  ...            16.70            13.33
2         LW      Alex Ovechkin (13678140)  ...            19.41            12.89
3          G      Braden Holtby (13678946)  ...            10.99            13.90
4          G        Petr Mrazek (13678947)  ...            14.68            12.60
..       ...                           ...  ...              ...              ...
275        D           Tim Heed (13678798)  ...             1.62             3.64
276        D      Mario Ferraro (13678810)  ...             2.54             4.64
277        C      Casey Cizikas (13678008)  ...             3.63             5.77
278        C    Cedric Paquette (13678016)  ...             4.60             4.66
279       LW      Ross Johnston (13678366)  ...             3.95             3.68

[280 rows x 10 columns]

In [0]:
prices.to_csv('player_prices_w_pred.csv')